* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-purple: #5d3a72;
    --dark-green: #4a7a5b;
    --dark-blue: #3b6d9b;

    --light-blue: #3498db;

    /* dark */
    /* --bg-color: #1c1c1e;
    --bg-secondary: #2e2e30;
    --text-color: #a3a3a3;
    --text-muted: #6c6c6c;
    --primary-color: var(--dark-blue);
    --accent-color: #f2a841; */

    /* light */
    --bg-color: #eeeeee;
    --bg-secondary: #ffffff;
    --text-color: #1e1e1e;
    --text-muted: #a3a3a3;
    --primary-color: var(--light-blue);
    --accent-color: #f7b267;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-secondary);
    backdrop-filter: blur(10px);
    z-index: 5;
    border-bottom: var(--text-color) 2px solid;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}

/* .logo {
    text-shadow: 0 0 25px var(--primary-color);
} */

.nav a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
}
.nav a:hover,
.nav a:active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

#menu-icon{
    display: none;
    font-size: 2.4rem;
    cursor: pointer;
}

section{
    /* min-height:100vh; */
    padding: 10rem 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: baseline;
    margin-top: 3rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    max-width: 50%;
}

.home-content span {
    color: var(--accent-color);
}

.logo span {
    color: var(--primary-color);
}

.home-content h3{
    font-size: 2.4rem;
    margin-top: 3rem;
}

.home-content h1{
    font-size: 4.8rem;
    line-height: 5.6rem;
    /* margin-top: 3rem; */
}

.home-content p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.home-img img {
    position: relative;
    border-radius: 25%;
    max-width: 50%;
    width: 100%;
    height:auto;
    display: block;
    margin: auto;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.home-img img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--primary-color),
                0 0 50px var(--primary-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: var(--primary-color);
    background: transparent;
    border: 2px solid var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    text-shadow: 0 0 15px var(--primary-color);
    transform: scale(1.1)translateY(-5px);
    background-color: var(--primary-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-group a {
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    background: var(--bg-secondary);
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    /* letter-spacing: 0.1rem; */
    cursor: pointer;
}

.btn:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    border: 2px solid var(--primary-color);
}

.text-anim-wrapper h3 {
    display: flex;
    align-items: center;
}

.text-animation {
    font-size: 3.6rem;
    font-weight: 700;
    min-width: 320px;
    line-height: 1em;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 1.2em;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 0.2em;
}

.word {
    position: absolute;
    opacity: 0;
    width: 100%;
    text-align: left;
    animation: changeWords 10s linear infinite;
    /* animation: changeWords 10s linear; */
    line-height: 1em;
}

.word:nth-child(1) {
    animation-delay: 0s;
}
.word:nth-child(2) {
    animation-delay: 2.5s;
}
.word:nth-child(3) {
    animation-delay: 5s;
}
.word:nth-child(4) {
    animation-delay: 7.5s;
}

@keyframes changeWords {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

.heading {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 5rem 0;
    text-align: center;
}

.experience {
    padding: 1rem 10rem;
    background: var(--bg-color);
}

.experience h2 {
    margin-bottom: 2rem;
}

.timeline {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--primary-color);
    left: calc(50% - 2.5px);
    border-radius: 10px;
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.dot {
    height: 21px;
    width: 21px;
    background-color: var(--accent-color);
    box-shadow: 0 0 25px var(--accent-color),
                0 0 50px var(--accent-color);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10.5px);
    top: 50%;
    transform: translateY(-50%);
}

.timeline-content {
    padding: 20px 30px;
    background-color: var(--bg-secondary);
    border: 3px solid var(--primary-color);
    border-radius: 10%;
    box-shadow: 0 0 25px var(--primary-color);
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
}

.timeline-item h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

.timeline-item h4 {
    font-style: italic;
    text-align: center;
}

.timeline-content ul {
    font-size: 1.1rem;
    color: var(--text-muted);
}

.date {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 800;
    /* color: var(--accent-color); */
    /* margin: 0 0 10px; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

.projects {
    padding: 1rem 10rem;
    background: var(--bg-color);
}

.projects h2 {
    margin-bottom: 2rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

.project-box {
    background: var(--bg-secondary);
    border: 3px solid transparent;
    height: 300px;
    border-radius: 10%;
    transition: 0.3s ease-in-out;
}

.project-box:hover {
    border: 3px solid var(--primary-color);
    /* transform: scale(1.05); */
    background-color: var(--text-color);
}

.project-box .project-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 2rem 5rem;
}

.project-info h4 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2;
    color: var(--primary-color);
}

.project-info p {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--text-muted);
}